<!-- carousel-item.ejs -->
<div class="carousel-item <%= active ? 'active' : '' %>">
    <img src="<%= imageSrc %>" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5><%= title %></h5>
        <p><%= description %></p>
    </div>
</div>