<nav>
    <ul class="sidebar">
        <li><a href="/training">Training</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/social">Social</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <ul>
        <li id="logo-link">
            <img class="logo" src="/images/tyr-sport-inc-logo-vector.png" alt="">
        </li>
        <li class="hideOnMobile"><a href="/training">Training</a></li>
        <li class="hideOnMobile"><a href="/profile">Profile</a></li>
        <li class="hideOnMobile"><a href="/social">Social</a></li>
        <li class="hideOnMobile"><a href="/settings">Settings</a></li>
        <li class="hideOnMobile"><a href="/logout">Logout</a></li>
        <li id="show-sidebar"><a class="svg" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        <li id="hide-sidebar" style="display: none"><a class="svg" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
    </ul>
</nav>